<div class="container mt-5">
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Cliente</th>
            <th scope="col">Fecha de inicio</th>
            <th scope="col">Fecha de finalización</th>
            <th scope="col">Foto</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let inscripcion of inscripciones">
            <th scope="row">{{inscripcion.clienteObtenido.nombre}} {{inscripcion.clienteObtenido.apellido}}</th>
            <td>{{inscripcion.fecha | date}}</td>
            <td>{{inscripcion.fechaFinal | date}}</td>
            <td><img [src]="inscripcion.clienteObtenido.fotoUrl" class="fotoUrl" alt=""></td>
          </tr>
        </tbody>
      </table>
      
</div>